<!DOCTYPE html>
{% extends 'main.html'%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    {% block content%}

    <img style="max-width: 500px" src="{{project.imageURL}}" alt="">

    <h1>{{project.title}}</h1>
    {%for i in tags%}
        <span class="tags" style="border: 1px solid grey; padding: 10px 20px; margin: 10px;">{{i}}</span>
    {%endfor%}
    <hr>
    <p>{{project.description}}</p>
    <hr>
    <h3>Reviews</h3>
    {% for i in reviews %}
        <p>{{i.body}}</p>
    {%endfor%}
    {% endblock content%}
</body>
</html>